1. What are data structures, and why are they important?
-> Data structures bring together the data elements in alogical way and facilitate the effective use, persistence and sharing of data
it is important:-
They help computers process large and complex data sets more efficiently

2.Explain the difference between mutable and immutable data types with examples

-> Mutable data types:-
Mutable data types allow modification of their values in place, without creating a new object.
Example:- lists, dictionaries and sets
Immutable data types:-
Immutable data types, on the other hand, do not allow modification of their value after creation
Example:-String

3. What are the main difference between lists and tuples in python

-> lists are mutable while tuples are immutable
This means tuples cannot be change While lists can be modified. Tuples are also more memory efficient than the lists

4. Describe how dictionaries store data

-> A dictionary stores data in "key-value pair" meaning each piece of information is associated with a unique identifier called a "key" which allows for quick access to the corresponding "value" essentially acting like an index to retrieve specific data within the dictionary

5. Why might you use a set instead of a list in python

-> Sets and lists are both fundamental data structures in python, but they serve different purposes and offer distinct advantages. Choosing between them depends on the specific requirements of a task

6. What is a string in python, and how is it different from a list?

-> String is an ordered sequence of characters enclosed in quotes representing textual data, while a list is an ordered collection of elements enclose in square brackets
Strings are immutable and lists are mutable.

7. How do tuples ensure data integrity in python?

-> Tuples in python ensure integrity through their immutability once a tuple is created, its contents cannot be modified meaning elements cannot be changed, added and removed this characteristic offers several advantages for maintaining data integrityWhat is a hash tabl

8. What is a hash table, and how does it relate to dictionaries in python ?

-> Hash table are a type of data structure in which the address/ index value of the data element is generated from a hash function
Ahash table is data structure that stores key-value paires it uses a hash function to computer an index into an array ofbuckets or slots, from which the desired value can be found

9. Can lists contain different data types in python?

-> A lists can also contain a mix of python types including strings, floats, and booleans
 Python lists are highly flexible and can indeed contain elements of different data types within the same list. This feature distinguishes them from arrays in some other programming languages, which typically required all elements to be of the same type

10. Explain why strings are immutable in python?

-> Strings in python are immutable, meaning their value cannot be altered after creation. Any operation that appears to modify a string actually creates a new string object

11. What advantages do dictionaries offer over lists for certain tasks


-> List:-
* It contain duplicate elements  
* Slicing can be done
* It is preferred when the contents are not fixed

Dictionary:-
* It cannot contain duplicate keys
* Slicing cannot be done
* It is preferred when working with large amounts of data

12. Desceribe a scenario where using a tuple would be prefeable over a list.

->

13. How do sets handle duplicate values in python?

-> To handle duplicate values, sets are used in python. Sets are unordered collections that do not allow duplicate elements if an attempt is made to add a duplicate element to a set, it will simply be ignored

14. How does the "in" keyword work differently for lists and dictionaries?

-> "In" keyword, it checks if an element exists within a list, while for dictionaries, it checks it a specific key exists within the dictionary

15. Can you modify the elements of a tuple? Explain why or why not

-> No you cannot modify the elements of a tuple becouse tuple are immutable

16. What is a nested dictionary, and give an example of its use case?

-> A nested dictionary is a dictionary that is stored as a value within another dictionary

Example:-
* Organizational Chat
* Nested dictionary comprehension

17. Describe the time complexity of accessing elements in a dictionart.

-> The time complexity of accessing an element in a python dictionary is 0(1) which means it takes a constant amount of time to search for a value in the dictionary

18. In what situatins are lists preferred over dictionaries?

-> If you need an ordered collection, like a sequence of user action, lists are your go-to. on the other hand, when you need quick look-ups, like mapping usernames to user data, dictionaries

19. Why are dictionaries considered unorded, and how does that affect data retrieval?

-> Dictionaries are unordered meaning that any time you loop through a dictionary you will go through every key but you are not guaranteed to get them in any particular order

20. Explain the difference between a list and a dictionary in terms of data retrieval

-> A list is an ordered collection of items, where as a dictionary is an unordered data collection in a key

# *PRACTICAL QUESTIONS*

1. Write a code to create a string with your name and print it

In [ ]:
name = "Misbah Fatma"
print(name)

Misbah Fatma

2. Write a code to fint the length of the string "Hello World"

In [ ]:
str= "Hello World"
print(len(str))

11

3. Write a code to slice the first 3 characters from the string "python Programming"

In [ ]:
str = "python programming"
print(str[0:3])

pyt

4. Write a code to convert the string "hello" to uppercase

In [ ]:
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "i like apple"

In [ ]:
original_string = "i like apple"
new_string = original_string.replace("apple", "orange")
print(new_string)

i like orange

6. Write a code to create a list with number 1to5 and print it.

In [ ]:
number = [1,2,3,4,5]
print(number)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1,2,3,4]

In [ ]:
numberlist = [1,2,3,4]
numberlist.append(10)
print(numberlist)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1,2,3,4,5]

In [ ]:
numberlist = [1,2,3,4,5]
numberlist.remove(3)
print(numberlist)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a','b','c','d']

In [ ]:
my_list = ['a','b','c','d']
second_element = my_list[1]
print(second_element)

b

10. Write a code to reverse the list [10,20,30,40,50]

In [ ]:
list = [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10,20,30 and print it

In [ ]:
my_tuple = (10,20,30)
print(my_tuple)

(10, 20, 30)

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

In [ ]:
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(my_tuple)

('apple', 'banana', 'cherry')

13. Write a code to count how many times times the number 2 appears in the tuple (1,2,3,2,4,2)

In [ ]:
my_tuple = (1,2,3,2,4,2)
count = my_tuple.count(2)
print(count)

3

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
my_tuple = ('dog', 'cat','rabbit')
index = my_tuple.index('cat')
print(index)

1

15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [ ]:
my_tuple = ('apple', 'orange', 'banana')
if 'banana' in my_tuple:
  print('banana' in my_tuple)

True

16. Write a code to create a set with the element 1,2,3,4,5 and print it

In [ ]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

17. Write a code to add the element 6 to the set {1,2,3,4}

In [ ]:
my_set ={1,2,3,4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

18. Write a code to create a tuple with the element 10,20,30 and print it

In [ ]:
my_tuple = (10,20,30)
print(my_tuple)

(10, 20, 30)

19. Write a code to access the first elements of the tuple ('apple', 'banana', 'cherry')

In [ ]:
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

20. Write a code to count how many times the number 2 appers in the tuple (1,2,3,2,4,2)

In [ ]:
my_tuple = (1,2,3,2,4,2)
count = my_tuple.count(2)
print(count)

3

21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(index)

1

22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [ ]:
my_tuple = ('apple', 'orange', 'banana')
if 'banana' in my_tuple:
  print('banana' in my_tuple)

True

23. write a code to create a set with the elements 1,2,3,4,5 and print it

In [ ]:
my_set ={1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

24. Write a code to add the element 6 to the set {1,2,3,4}

In [ ]:
my_set = {1,2,3,4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}